# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Pydantic
pydantic
pydantic-settings

# Firestore & Firebase
google-cloud-firestore
firebase-admin

# Gemini AI & Vertex AI
google-generativeai
langchain-google-genai
langchain-google-vertexai

# LangChain
langchain
langchain-community
langchain-text-splitters
langgraph

# Document Processing
pypdf
docx2txt

# Utilities
python-dotenv